* {
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #a0b1ce 100%);
}

hr {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #c0c8d4);
}

.container {
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
  min-width: 700px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-15{
  margin-left: 15px;
}
.mt-15 {
  margin-top: 15px;

}
.text-center {
  text-align: center;
}

.float-right {
  cursor: pointer;
  float: right;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.width-50 {
  width: 50%;
  float: left;
}

.width-30 {
  width: 30%;
  float: left;
  padding: 0 15px;
}


@media (min-width: 768px) {
  .width-30 {
    width: 30%;
    padding: 0 15px;
  }
  
  .width-50 {
    width: 50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

  }
  .width-60 {
    width: 60%;
    position: relative;
    min-height: 1px;
    padding: 0 15px;
    float: left;
  }
  
  .width-100 {
    width: 100%;  
    min-height: 1px;
    padding: 0 15px;
    float: left;
    background-color: none;
  }
}


.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border-color: #faebcc;
  
}

.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #000000;
  background-color: #faebcc;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.main-bar {
  display: inline-block;
  white-space: nowrap;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px auto;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}


.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary:active:hover,
.btn-primary.active:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active:hover,
.btn-warning.active:hover {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active:hover,
.btn-danger.active:hover {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}



.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active:hover,
.btn-success.active:hover{
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group .form-control:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .form-control {
  display: table-cell;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group-btn {
  display: table-cell;
  position: relative;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  width: 1%;
}

.input-group-btn:last-child>.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.dropdown {
  position: relative;
}




.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
} 

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
} 

.dropdown-menu > li:hover,
.dropdown-menu > li:focus {
  cursor: pointer;
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu:hover{
  display: block;
}
.dropdown-toggle:focus + ul{
  display: block;
}



.dropdown-toggle ul > li:hover{
  background-color: rgb(184, 179, 179);
}



table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

table {
  margin: 10px 0px 100px 0px;
}
.table-bordered {
  border: 2px solid #918787;
}

.table-bordered>thead>tr>th {
  border: 12px solid #918787;
}

.table-bordered>thead>tr>td {
  border-bottom-width: 2px;
}

.table-bordered>thead {
  border-bottom-width: 20px;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>td {
  border: 1px solid #918787;
}

.table>thead>tr>th, .table>tbody>tr>td {
  padding: 8px;
  line-height: 1.5;
  vertical-align: middle;
  border-top: 1px solid #918787;
}

.table>thead>tr>th {
  border: 2px solid #918787;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}

.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}

th {
  background-color: #13a318;
  color: white;
}

.input-cell:focus {
  background: transparent;
  outline: none
}

.sort-selected::after{
  content: '\f00c';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin-left: 10px;
  display: inline-block;
}

.glow {
  color: white;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 
                 0 0 2px #fff, 
                 0 0 3px #00a3a3, 
                 0 0 4px #00a3a3, 
                 0 0 5px #00a3a3,
                 0 0 6px #00a3a3, 
                 0 0 7px #00a3a3;
  }
  
  to {
    text-shadow: 0 0 3px #fff, 
                 0 0 4px #6efff8, 
                 0 0 5px #6efff8, 
                 0 0 6px #6efff8, 
                 0 0 7px #6efff8, 
                 0 0 8px #6efff8, 
                 0 0 9px #6efff8;
  }
}

td:first-child {
  width: 3%;
}
td:nth-child(3){
  width: 8%;
}

td:last-child {
  min-width: 230px;
  width: 20%;
}




